.card{
    background-color: var(--light-gray-blue-100);
    border: 1px solid var(--blue-100);

    min-width: 14.5rem;
    /* max-width: 20rem; */
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;
    
}

.cardWide{
    background-color: var(--light-gray-blue-100);
    border: 1px solid var(--blue-100);

    /* width: 100%; */

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;
    
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    strong{
        color: var(--blue);
    }
    span{
        color: var(--yellow-300);
        font-weight: 700;
        font-size: xx-large;
    }
}

.list{
    list-style: none;
}

.buttons{
    display: flex;
    margin: 1rem 0;
    gap:.5rem;
    
}

.bar{
    display: flex;
    align-items: center;
    background-color: var(--gray-500);
    padding: .2rem;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    /* width: 100%; */
    /* width: clamp(4.3rem, .5rem + 5vw, 7rem); */
    span {
        color: var(--white);
    }
}


.bar:first-child{
    background-color: var(--gray-900);
}

.bar:last-child{
    span{
        color: var(--gray-900);
    }

    button{
        color: var(--gray-900);
    }
}

.button{
    border: none;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
    padding: .2rem;
}

.disabledLink{
    opacity: 0.5;
    pointer-events: none;
}

.button:disabled{
    opacity: 0.5;
}


.line{
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: .5rem;
}

@media (max-width: 768px) {
   
    
}