.customErrorAlert{
    border: 1px solid var(--gray-600);
    padding: 10px;
    background-color:var(--red-100);
    color: var(--red-500);
    border-radius: 4px;
    margin-bottom: 10px;
    p{
        text-align: center;
    }
}

.customSuccessAlert{
    border: 1px solid var(--gray-600);
    padding: 10px;
    background-color: var(--green-100);
    color: var(--green);
    border-radius: 4px;
    margin-bottom: 10px;
    p{
        text-align: center;
    }
}

.deleteAlert{
    padding: .5rem;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 16.05rem;
    align-items: center;
    color: var(--orange-200);
    font-weight: bold;
    text-transform: uppercase;

    background-color: var(--light-gray-blue-100);
    border: 1px solid var(--blue-100);
    max-width: 14.65rem; 

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;

    span {
        text-align: center;
    }
    
}

.buttonsAlert{
    display: flex;
    gap: .5rem;

    button{
        background-color: transparent;
        border: none;
        cursor: pointer
    };

    button:first-child{
        color: var(--green);
    };

    button:last-child{
        color: var(--red);
    }
}