.formPage {
  background-color: var(--white);
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr) 1fr;
  gap: 1rem;
  width: 100%;
}

.formLogin{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputs {
  width: 25vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    display: flex;
    max-width: 19rem;
    width: 100%;
    height: 3.25rem;
    border-radius: 4px;
    justify-content: center;
    /* padding-left: 1rem; */
    border: 1px solid var(--gray-400);
    text-align: center;
  }

  input[type="datetime-local"] {
    cursor: pointer;
  }

  input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="submit"]{
    background-color: var(--blue);
    color: var(--white);
    cursor: pointer;
  }

  input[type="submit"]:active{
    background-color: var(--blue-100)
  }


}

.checkbox{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: .5rem;
}

.inputs:last-child {
  width: 15rem;
  height: 3rem;
  grid-column: span 2;
  width: 100%;
}

@media (max-width: 768px) {
  /* .formPage{
    margin: 1rem 0;
  } */
  .form{
    display: flex;
    flex-direction: column;
    gap: .3rem;
  }
}
