.nav {
  border-left: 1px solid var(--light-gray-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 2;
  padding:0 2rem 0 2rem;
}

@media (max-width: 768px) {
  .nav{
    padding: 1rem;
    border: 0;
    flex: 1;
  }
}
